.cuerpo{
    background-color: rgb(0, 0, 0);
    color: white;
    align-items: center;
}

.tituloPrincipal{
    background-image:url(/images/pngwing.com.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black ;
    padding-top: 200px;
    
}




.product-card{
    border: solid 1px rgb(119, 0, 0);
    color:rgb(119, 0, 0) ;
    margin: 2rem;
    width: 20rem ;
    align-items: center;
    margin-left: 0rem;
    margin-top: 0rem;
}

.div-cantidad{
    display: flex;
}

.py-3 {
    background-image:url(/images/shopping-cart_2180337.png);
    background-size: cover; 
    background-repeat: no-repeat; 
    width: 100px; 
    height: 100px;
    padding-left: 25px;
}